:root {
  --gradient-start: #50589f;
  --gradient-end: #ffbe2e;
}

#mainContainer {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}

.para {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.child1 {
  width: 30%;
}

.child2 {
  width: 65%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border-radius: 20px;
  box-shadow: 0px 15px 30px 0px rgba(191, 181, 255, 0.15);
  padding: 10px;
}

.child {
  width: 50%;
}

#child {
  position: relative;
  right: 100px;
}

.heading2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
}

.whyUl {
  list-style: none;
  text-align: left;
  margin-top: 20px;
}

.whyUl li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.whyIcon {
  width: 10px;
}

#learnMore {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.learnIcon {
  width: 40px;
}

.learnMorePara {
  font-size: 15px;
}

#star2 {
  position: relative;
  right: -360px;
  top: -30px;
  width: 40px;
}

#arianaContainer {
  width: 60%;
  border-radius: 16.57px;
  box-shadow: 0px 31px 19.88px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  right: -197px;
  top: -55px;
  background-color: white;
  padding: 5px;
}

#arianaImg {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );

  border-radius: 8px;
  width: 55%;
}

#arianaImg2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#aName {
  font-size: 26px;
  font-weight: 600;
  line-height: 12.97px;
  text-align: left;
  background: linear-gradient(90.32deg, #50589f 0.28%, #ffbe2e 102.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

#arianaTexts {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  gap: 8px;
}

.aText {
  background-color: rgba(226, 226, 226, 1);
  padding: 5px;
  font-size: 6.5px;
  border-radius: 7px;
}

#starHolder {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  gap: 20px;
  align-items: center;
}

#star {
  font-size: 12px;
  color: rgba(255, 190, 46, 1) !important;
}

span {
  color: rgba(226, 226, 226, 1);
}

#tInterview {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 3px 6px;
  font-size: 11px;
}

.fa-star {
  color: rgba(255, 190, 46, 1) !important;
}

/* Media Queries */
@media (max-width: 1200px) {
  .heading {
    font-size: 55px;
    line-height: 50px;
  }
}

@media (max-width: 1000px) {
  #mainContainer {
    width: 80%;
    flex-flow: column wrap;
    margin: auto;
    gap: 30px;
  }

  .child1 {
    width: 100%;
  }
  .child2 {
    width: 100%;
  }

  .heading {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  #mainContainer {
    width: 90%;
  }
}
@media (max-width: 800px) {
  #star2 {
    right: -340px;
  }
}

@media (max-width: 700px) {
  #star2 {
    right: -300px;
    top: -50px;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 40px;
    line-height: 36px;
  }

  .para {
    font-size: 16px;
    line-height: 20px;
  }

  #star2 {
    right: -450px;
    top: -65px;
    width: 45px;
  }
  .child2 {
    flex-flow: column wrap;
  }

  .child {
    width: 100%;
  }

  #child {
    width: 100%;
    margin-top: 30px;
  }

  #arianaContainer {
    right: -250px;
    top: -75px;
  }
}

@media (max-width: 550px) {
  #star2 {
    right: -430px;
  }
}

@media (max-width: 500px) {
    #star2 {
        right: -400px;
    }
}

@media(max-width: 450px){

    #star2 {
            right: -350px;
            top: -40px;
        }
    #arianaContainer {
            right: -200px;
            top: -55px;
        }


}
@media (max-width: 400px) {
  .heading {
    font-size: 34px;
    line-height: 32px;
  }

  .heading2{
    font-size: 27px;
  }

  #star2 {
    right: -160px;
    top: -10px;
    width: 20px;
  }

  .aText {
    font-size: 7px;
  }

  #tInterview {
    padding: 1px 2px;
    font-size: 8px;
  }

        #arianaContainer {
            right: -200px;
            top: -55px;
            width: 65%;
        }

}

@media (max-width: 300px) {
  .heading {
    font-size: 20px;
    line-height: 28px;
  }

  #star2 {
    right: -110px;
    top: 0;
    width: 15px;
  }

  .aText {
    font-size: 6px;
  }

  #tInterview {
    padding: 1px 2px;
    font-size: 7px;
  }
}
